<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lamine.go4lunch">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_restaurant_menu_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_restaurant_menu_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- ACTIVITIES -->

        <activity
            android:name=".Controller.SettingsActivity"
            android:label="@string/setting" />
        <activity android:name=".Controller.RestaurantActivity" />
        <activity android:name=".Controller.MainScreenActivity" />

        <activity android:name=".Controller.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- META-DATA -->

        <meta-data
            android:name="batch_opted_out_by_default"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Google MapsAPI Key / Android restriction -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

    </application>

    <!-- PERMISSIONS -->

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <dist:module dist:instant="true" />
</manifest>